Swector.xcodeproj/project.xcworkspace/xcuserdata/pbardea.xcuserdatad/UserInterfaceState.xcuserstate
Swector.xcodeproj/xcuserdata/pbardea.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Swector.xcodeproj/xcuserdata/pbardea.xcuserdatad/xcschemes/SwectorTests.xcscheme

